/* Sidebar personalizada com dourado */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 100vh;
    background: linear-gradient(135deg, #0a0a0a 0%, #121212 100%);
    color: #d4af37;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #d4af37;
    box-shadow: 
        0 0 20px rgba(212, 175, 55, 0.1),
        inset -5px 0 15px -5px rgba(212, 175, 55, 0.15);
}

/* Cards das redes sociais */
.cardner {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    transform: translateY(-100px);

}

.socialContainer {

    width: 32px;
    height: 42px;
    background: linear-gradient(145deg, #1a1a1a, #0f0f0f);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 8px;
    border: 2px solid #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(212, 175, 55, 0.1);

}

.socialContainer:hover {
    transform: translateY(-3px);
    border-color: #000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 0 15px rgba(212, 175, 55, 0.2);
    background: rgb(196, 128, 24);
}

.socialSvg {
    width: 16px;
    transition: transform 0.3s ease;
}

.socialSvg path {
    fill: #d4af37;
    transition: fill 0.3s ease;
}

.socialContainer:hover .socialSvg {
    transform: scale(1.1);
}

.socialContainer:hover .socialSvg path {
    fill: #000;
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 1s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}